[*]
quote_type = single
dotnet_diagnostic.SA1600.severity=silent
dotnet_diagnostic.SA1309.severity=silent
dotnet_diagnostic.SX1309.severity=error
dotnet_diagnostic.SX1309S.severity=error
dotnet_diagnostic.SA1200.severity=none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none
dotnet_diagnostic.SA1633.severity=silent
dotnet_diagnostic.CA1031.severity=silent
dotnet_diagnostic.CA1303.severity=silent
dotnet_diagnostic.SA1501.severity=silent
dotnet_diagnostic.CA1014.severity=silent
dotnet_diagnostic.SA0001.severity=silent
